<!DOCTYPE html>
<html lang="ru" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--<link th:href="@{/css/homeStyle.css}" rel="stylesheet"/>-->
</head>
<body>
<h1>ОАО "Концерн КЭМЗ"</h1>
<header><h2>Список изделий</h2></header>
<main>
    <div class="products">
        <div th:if="${products.size()>0}">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Название</td>
                    <td>Шифр</td>
                    <td>Маршрут</td>
                    <td>Тип</td>
                    <td>Входимость</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="selectedProduct : ${products}">
                    <td th:text="${selectedProduct.getName}"></td>
                    <td th:text="${selectedProduct.getCipher}"></td>
                    <td th:text="${selectedProduct.getRoute}"></td>
                    <td th:text="${selectedProduct.getType.getType}"></td>
                    <td th:text="${selectedProduct.getProduct}"></td>
                    <td>
                        <form th:method="get" th:action="@{${selectedProduct.getCipher}}">
                            <button style="background-color: darkred; color: antiquewhite">Открыть</button>
                        </form>
                    </td>
                    <td>
                        <form th:method="delete" th:action="@{${selectedProduct.getCipher}}">
                            <button style="color: darkred">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="delete-all-products">
                <form th:method="delete" th:action="@{''}">
                    <input class="delete-all" type="submit" value="Очистить список">
                </form>
            </div>
        </div>
        <div th:if="${products.size()==0}">
            Список деталей пуст!
            <form enctype="multipart/form-data" th:method="post" th:action="@{''}">
                <p>Загрузите файл</p>
                <p><input type="file" name="file" multiple></p>
                <input type="submit" value="Загрузить">
            </form>
        </div>
    </div>
</main>
</body>
</html>