<!DOCTYPE html>
<html lang="ru" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!--<link th:href="@{/css/homeStyle.css}" rel="stylesheet"/>-->
    <link rel="shortcut icon" href="/images/mylogo.png">
</head>
<body>
<div style="width:auto; margin:0; background: #ccc; border-bottom:2px solid dimgray">
    <a href="#" style="float:left; margin-top:2px; margin-right:50px;"><img src="/images/mylogo.png"></a>
    <h1 style="line-height:100px; color: white">ОАО "Концерн КЭМЗ"</h1>
</div>
<br>
<header><h2>Список изделий</h2></header>
<main>
    <div class="products">
        <div th:if="${products.size()>0}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="colgroup" style="border-bottom: 1px solid dimgray">
                        <p>Название</p>
                        <p>
                        <form th:method="get" th:action="@{byName}">
                        <input type="search" name="name" placeholder="Поиск по названию">
                        <input type="submit" value="Найти">
                        </form>
                        </p>
                    </th>
                    <th scope="colgroup" style="border-bottom: 1px solid dimgray">
                        <p>Шифр</p>
                        <p>
                            <form th:method="get" th:action="@{byCipher}">
                        <input type="search" name="cipher" placeholder="Поиск по шифру">
                        <input type="submit" value="Найти">
                    </form>
                        </p>
                    </th>
                    <th scope="colgroup" style="border-bottom: 1px solid dimgray">Маршрут</th>
                    <th scope="colgroup" style="border-bottom: 1px solid dimgray">Тип</th>
                    <th scope="colgroup" style="border-bottom: 1px solid dimgray">Входимость</th>
                    <td style="border-bottom: 1px solid dimgray"></td>
                    <td style="border-bottom: 1px solid dimgray"></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="selectedProduct : ${products}">
                    <td th:text="${selectedProduct.getName}"></td>
                    <td th:text="${selectedProduct.getCipher}"></td>
                    <td th:text="${selectedProduct.getRoute}"></td>
                    <td th:text="${selectedProduct.getType.getType}"></td>
                    <td th:text="${selectedProduct.getProduct}"></td>
                    <td>
                        <form th:method="get" th:action="@{${selectedProduct.getCipher}}">
                            <button style="background-color: darkred; color: antiquewhite">Открыть</button>
                        </form>
                    </td>
                    <td>
                        <form th:method="delete" th:action="@{${selectedProduct.getCipher}}">
                            <button style="color: darkred">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="delete-all-products">
                <form th:method="delete" th:action="@{''}">
                    <input class="delete-all" type="submit" value="Очистить список">
                </form>
            </div>
        </div>
        <div th:if="${products.size()==0}">
            Список деталей пуст!
            <form enctype="multipart/form-data" th:method="post" th:action="@{''}">
                <p>Загрузите файл</p>
                <p><input type="file" name="file" multiple></p>
                <input type="submit" value="Загрузить">
            </form>
        </div>
    </div>
</main>

</body>
</html>