<!DOCTYPE html>
<html lang="ru" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<h1>Login</h1>
<!--<div th:if="${error}">-->
    <!--Unable to login. Check your username and password.-->
<!--</div>-->
<p>New here? Click
    <a th:method="get" th:href="@{/api/login/registration}">here</a> to register.</p>
<form method="post" th:action="@{/api/login/}" id="loginForm">
    <label for="username">ЛОГИН: </label>
    <input type="text" name="username" id="username" /><br/>
    <label for="password">ПАРОЛЬ: </label>
    <input type="password" name="password" id="password" /><br/>
    <!--<form th:method="post" th:action="@{api/login/authenticate}">-->
        <input type="submit" value="ВОЙТИ"/>
    <!--</form>-->
</form>
</body>
</html>